[all:vars]
# basic section starts
project_template_path="/etc/coredns-edge-deployment"
go_path="/root/go"
oc_binary="/usr/bin/kubectl"
namespace_coredns_edge="coredns-edge"
caas_cluster_domain="cluster.local"
coredns_speaker_mode="initiative"
# basic section ends
# tls sign section starts
tls_c="CHINA"
tls_l="Shanghai"
tls_o="99cloud"
tls_st="Shanghai"
tls_ou="CAAS"
# tls sign section ends
# etcd operator section starts
etcd_operator_repo="https://github.com/coreos/etcd-operator.git"
etcd_peer_svc_name="etcd-coredns-speaker"
etcd_use_tls="yes"
etcd_ca_file_path="{{ project_template_path + '/etcd/etcd-client-ca.crt' }}"
etcd_key_file_path="{{ project_template_path + '/etcd/etcd-client.key' }}"
etcd_cert_file_path="{{ project_template_path + '/etcd/etcd-client.crt' }}"
etcd_storage_class_name="alicloud-nas"
etcd_storage_size=30
etcd_cluster_size=3
# etcd operator section ends
# nats section starts
nats_use_tls="yes"
nats_cluster_name="nats-cluster"
# nats section ends
[master1]
localhost              ansible_connection=local
# 172.16.60.17  ansible_user=root ansible_ssh_private_key_file=~/.ssh/id_rsa_rhel