{
    "CN": "99cloud edge coredns ca",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CHINA",
            "L": "Shanghai",
            "O": "99cloud",
            "ST": "Shanghai",
            "OU": "CAAS"
        }
    ]
}
