{
    "CN": "etcd peer",
    "hosts": [
        "{{ '*.' + etcd_peer_svc_name + '.' + namespace_coredns_edge + '.svc' }}",
        "{{ '*.' + etcd_peer_svc_name + '.' + namespace_coredns_edge + '.svc.' + caas_cluster_domain }}"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "{{ tls_c }}",
            "L": "{{ tls_l }}",
            "O": "{{ tls_o }}",
            "ST": "{{ tls_st }}",
            "OU": "{{ tls_ou }}"
        }
    ]
}