{
    "CN": "etcd server",
    "hosts": [
        "{{ '*.' + etcd_peer_svc_name + '.' +namespace_coredns_edge + '.svc' }}",
        "{{ etcd_peer_svc_name + '-client.' + namespace_coredns_edge + '.svc' }}",
        "localhost"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "China",
            "L": "Shanghai",
            "ST": "Shanghai"
        }
    ]
}