apiVersion: v1
kind: Pod
metadata:
  name: {{ coredns_cluster_name }}
  namespace: {{ namespace_coredns_edge }}
  labels:
    edge: static-pod-coredns
spec:
  restartPolicy: Always
  dnsPolicy: ClusterFirstWithHostNet
  hostNetwork: true
  volumes:
  - hostPath:
      path: {{ project_template_path }}/coredns
      type: DirectoryOrCreate
    name: coredns-config-vol
{% if coredns_message_mode == "LISTEN" %}
  - hostPath:
      path: {{ project_template_path }}/nats/certs
      type: DirectoryOrCreate
    name: nat-tls
{% endif %}
  containers:
  - name: coredns-container
    image: 99cloud/coredns-edge:latest
    #image: busybox
    #command: ["sh","-c","sleep 100000000"]
    imagePullPolicy: IfNotPresent
    securityContext:
      privileged: true
    volumeMounts:
    - name: coredns-config-vol
      mountPath: {{ conatiner_config_dir_path }}
      readOnly: true
{% if coredns_message_mode == "LISTEN" %}
    - name: nat-tls
      mountPath: {{ project_template_path }}/nats
      readOnly: true
{% endif %}