{
    "CN": "nats.io",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "{{ tls_c }}",
            "L": "{{ tls_l }}",
            "O": "{{ tls_o }}",
            "ST": "{{ tls_st }}",
            "OU": "{{ tls_ou }}"
        }
    ]
}
