{
    "CN": "nats.io",
    "hosts": [
        "localhost",
        "*.{{ nats_cluster_name }}.{{ namespace_coredns_edge }}.svc",
        "*.{{ nats_cluster_name }}-mgmt.{{ namespace_coredns_edge }}.svc",
        "{{ nats_cluster_name }}",
        "{{ nats_cluster_name }}-mgmt",
        "{{ nats_cluster_name }}.{{ namespace_coredns_edge }}.svc",
        "{{ nats_cluster_name }}-mgmt.{{ namespace_coredns_edge }}.svc",
        "{{ nats_cluster_name }}.{{ namespace_coredns_edge }}.svc.cluster.local",
        "{{ nats_cluster_name }}-mgmt.{{ namespace_coredns_edge }}.svc.cluster.local",
        "*.{{ nats_cluster_name }}.{{ namespace_coredns_edge }}.svc.cluster.local",
        "*.{{ nats_cluster_name }}-mgmt.{{ namespace_coredns_edge }}.svc.cluster.local"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "{{ tls_c }}",
            "L": "{{ tls_l }}",
            "O": "{{ tls_o }}",
            "ST": "{{ tls_st }}",
            "OU": "{{ tls_ou }}"
        }
    ]
}